# Shinkansen Travel Experience

In [1]:
#Import Libraries
import numpy as np
import pandas as pd  
import warnings
warnings.filterwarnings("ignore")

In [2]:
travel = pd.read_csv(r'F:\Personal\PGP\Hackathon\Traveldata_train_(1).csv')
survey = pd.read_csv(r'F:\Personal\PGP\Hackathon\Surveydata_train_(1).csv')

travel1 = pd.read_csv(r'F:\Personal\PGP\Hackathon\Traveldata_test.csv')
survey1 = pd.read_csv(r'F:\Personal\PGP\Hackathon\Surveydata_test.csv')

In [3]:
travel

,ID,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,98800001,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0
1,98800002,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0
2,98800003,Female,Loyal Customer,43.0,Business travel,Business,1061,77.0,119.0
3,98800004,Female,Loyal Customer,44.0,Business travel,Business,780,13.0,18.0
4,98800005,Female,Loyal Customer,50.0,Business travel,Business,1981,0.0,0.0
...,...,...,...,...,...,...,...,...,...
94374,98894375,Male,Loyal Customer,32.0,Business travel,Business,1357,83.0,125.0
94375,98894376,Male,Loyal Customer,44.0,Business travel,Business,592,5.0,11.0
94376,98894377,Male,NaN,63.0,Business travel,Business,2794,0.0,0.0
94377,98894378,Male,Loyal Customer,16.0,Personal Travel,Eco,2744,0.0,0.0
94378,98894379,Male,Loyal Customer,54.0,NaN,Eco,2107,28.0,28.0

In [4]:
survey

,ID,Overall_Experience,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,98800001,0,need improvement,Green Car,excellent,excellent,very convinient,good,need improvement,acceptable,need improvement,need improvement,acceptable,need improvement,good,need improvement,poor
1,98800002,0,poor,Ordinary,excellent,poor,need improvement,good,poor,good,good,excellent,need improvement,poor,need improvement,good,good
2,98800003,1,need improvement,Green Car,need improvement,need improvement,need improvement,need improvement,good,excellent,excellent,excellent,excellent,excellent,good,excellent,excellent
3,98800004,0,acceptable,Ordinary,need improvement,NaN,need improvement,acceptable,need improvement,acceptable,acceptable,acceptable,acceptable,acceptable,good,acceptable,acceptable
4,98800005,1,acceptable,Ordinary,acceptable,acceptable,manageable,need improvement,good,excellent,good,good,good,good,good,good,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94374,98894375,0,poor,Ordinary,good,good,Convinient,poor,poor,poor,poor,good,good,good,need improvement,good,poor
94375,98894376,1,good,Ordinary,good,good,Convinient,need improvement,excellent,excellent,acceptable,acceptable,acceptable,acceptable,good,acceptable,good
94376,98894377,1,need improvement,Green Car,need improvement,need improvement,need improvement,good,excellent,good,good,good,good,good,acceptable,good,acceptable
94377,98894378,0,need improvement,Ordinary,NaN,need improvement,Convinient,good,need improvement,good,good,acceptable,good,good,good,excellent,good
94378,98894379,0,acceptable,Ordinary,poor,acceptable,manageable,acceptable,acceptable,acceptable,acceptable,poor,good,good,poor,good,acceptable

In [5]:
travel1

,ID,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,99900001,Female,NaN,36.0,Business travel,Business,532,0.0,0.0
1,99900002,Female,disloyal Customer,21.0,Business travel,Business,1425,9.0,28.0
2,99900003,Male,Loyal Customer,60.0,Business travel,Business,2832,0.0,0.0
3,99900004,Female,Loyal Customer,29.0,Personal Travel,Eco,1352,0.0,0.0
4,99900005,Male,disloyal Customer,18.0,Business travel,Business,1610,17.0,0.0
...,...,...,...,...,...,...,...,...,...
35597,99935598,Male,Loyal Customer,8.0,Personal Travel,Eco,1334,0.0,0.0
35598,99935599,Female,Loyal Customer,53.0,Business travel,Business,1772,0.0,0.0
35599,99935600,Male,disloyal Customer,22.0,Business travel,Eco,1180,0.0,0.0
35600,99935601,Female,Loyal Customer,67.0,Personal Travel,Eco,420,23.0,16.0
35601,99935602,Male,NaN,20.0,Personal Travel,Eco,1680,0.0,0.0

In [6]:
survey1

,ID,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,99900001,acceptable,Green Car,acceptable,acceptable,manageable,need improvement,excellent,good,excellent,excellent,excellent,excellent,good,excellent,poor
1,99900002,extremely poor,Ordinary,good,poor,manageable,acceptable,poor,acceptable,acceptable,excellent,acceptable,good,acceptable,excellent,acceptable
2,99900003,excellent,Ordinary,excellent,excellent,very convinient,excellent,excellent,excellent,need improvement,need improvement,need improvement,need improvement,good,need improvement,excellent
3,99900004,acceptable,Green Car,excellent,acceptable,very convinient,poor,acceptable,excellent,poor,acceptable,need improvement,excellent,excellent,excellent,poor
4,99900005,excellent,Ordinary,extremely poor,excellent,need improvement,excellent,excellent,excellent,excellent,NaN,acceptable,excellent,excellent,excellent,excellent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,99935598,need improvement,Green Car,excellent,need improvement,manageable,acceptable,need improvement,acceptable,acceptable,good,excellent,good,acceptable,good,acceptable
35598,99935599,need improvement,Ordinary,need improvement,good,need improvement,acceptable,excellent,excellent,good,good,good,good,acceptable,good,good
35599,99935600,good,Green Car,extremely poor,good,need improvement,need improvement,good,poor,need improvement,poor,acceptable,poor,poor,excellent,need improvement
35600,99935601,excellent,Ordinary,excellent,excellent,Inconvinient,acceptable,excellent,good,excellent,excellent,excellent,excellent,acceptable,excellent,good
35601,99935602,good,Ordinary,acceptable,good,manageable,poor,good,poor,poor,acceptable,good,good,need improvement,good,poor

## Merging Training and Testing Data

In [7]:
df_train = pd.merge(travel,survey, on = 'ID')
df_test = pd.merge(travel1,survey1, on = 'ID')

In [8]:
df_train

,ID,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Overall_Experience,...,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,98800001,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0,0,...,good,need improvement,acceptable,need improvement,need improvement,acceptable,need improvement,good,need improvement,poor
1,98800002,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0,0,...,good,poor,good,good,excellent,need improvement,poor,need improvement,good,good
2,98800003,Female,Loyal Customer,43.0,Business travel,Business,1061,77.0,119.0,1,...,need improvement,good,excellent,excellent,excellent,excellent,excellent,good,excellent,excellent
3,98800004,Female,Loyal Customer,44.0,Business travel,Business,780,13.0,18.0,0,...,acceptable,need improvement,acceptable,acceptable,acceptable,acceptable,acceptable,good,acceptable,acceptable
4,98800005,Female,Loyal Customer,50.0,Business travel,Business,1981,0.0,0.0,1,...,need improvement,good,excellent,good,good,good,good,good,good,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94374,98894375,Male,Loyal Customer,32.0,Business travel,Business,1357,83.0,125.0,0,...,poor,poor,poor,poor,good,good,good,need improvement,good,poor
94375,98894376,Male,Loyal Customer,44.0,Business travel,Business,592,5.0,11.0,1,...,need improvement,excellent,excellent,acceptable,acceptable,acceptable,acceptable,good,acceptable,good
94376,98894377,Male,NaN,63.0,Business travel,Business,2794,0.0,0.0,1,...,good,excellent,good,good,good,good,good,acceptable,good,acceptable
94377,98894378,Male,Loyal Customer,16.0,Personal Travel,Eco,2744,0.0,0.0,0,...,good,need improvement,good,good,acceptable,good,good,good,excellent,good
94378,98894379,Male,Loyal Customer,54.0,NaN,Eco,2107,28.0,28.0,0,...,acceptable,acceptable,acceptable,acceptable,poor,good,good,poor,good,acceptable

In [9]:
df_test

,ID,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins,Seat_comfort,...,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,99900001,Female,NaN,36.0,Business travel,Business,532,0.0,0.0,acceptable,...,need improvement,excellent,good,excellent,excellent,excellent,excellent,good,excellent,poor
1,99900002,Female,disloyal Customer,21.0,Business travel,Business,1425,9.0,28.0,extremely poor,...,acceptable,poor,acceptable,acceptable,excellent,acceptable,good,acceptable,excellent,acceptable
2,99900003,Male,Loyal Customer,60.0,Business travel,Business,2832,0.0,0.0,excellent,...,excellent,excellent,excellent,need improvement,need improvement,need improvement,need improvement,good,need improvement,excellent
3,99900004,Female,Loyal Customer,29.0,Personal Travel,Eco,1352,0.0,0.0,acceptable,...,poor,acceptable,excellent,poor,acceptable,need improvement,excellent,excellent,excellent,poor
4,99900005,Male,disloyal Customer,18.0,Business travel,Business,1610,17.0,0.0,excellent,...,excellent,excellent,excellent,excellent,NaN,acceptable,excellent,excellent,excellent,excellent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,99935598,Male,Loyal Customer,8.0,Personal Travel,Eco,1334,0.0,0.0,need improvement,...,acceptable,need improvement,acceptable,acceptable,good,excellent,good,acceptable,good,acceptable
35598,99935599,Female,Loyal Customer,53.0,Business travel,Business,1772,0.0,0.0,need improvement,...,acceptable,excellent,excellent,good,good,good,good,acceptable,good,good
35599,99935600,Male,disloyal Customer,22.0,Business travel,Eco,1180,0.0,0.0,good,...,need improvement,good,poor,need improvement,poor,acceptable,poor,poor,excellent,need improvement
35600,99935601,Female,Loyal Customer,67.0,Personal Travel,Eco,420,23.0,16.0,excellent,...,acceptable,excellent,good,excellent,excellent,excellent,excellent,acceptable,excellent,good
35601,99935602,Male,NaN,20.0,Personal Travel,Eco,1680,0.0,0.0,good,...,poor,good,poor,poor,acceptable,good,good,need improvement,good,poor

In [10]:
df_train.shape

(94379, 25)

In [11]:
df_test.shape

(35602, 24)

## Checking datatypes of the variables

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94379 entries, 0 to 94378
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Gender                   94302 non-null  object
 2   CustomerType             85428 non-null  object
 3   Age                      94346 non-null  float64
 4   TypeTravel               85153 non-null  object
 5   Travel_Class             94379 non-null  object
 6   Travel_Distance          94379 non-null  int64
 7   DepartureDelay_in_Mins   94322 non-null  float64
 8   ArrivalDelay_in_Mins     94022 non-null  float64
 9   Overall_Experience       94379 non-null  int64
 10  Seat_comfort             94318 non-null  object
 11  Seat_Class               94379 non-null  object
 12  Arrival_time_convenient  85449 non-null  object
 13  Catering                 85638 non-null  object
 14  Platform_location        94349 non-null  object
 15  Onboardwifi_service      94349 non-null  object
 16  Onboard_entertainment    94361 non-null  object
 17  Online_support           94288 non-null  object
 18  Onlinebooking_Ease       94306 non-null  object
 19  Onboard_service          86778 non-null  object
 20  Leg_room                 94289 non-null  object
 21  Baggage_handling         94237 non-null  object
 22  Checkin_service          94302 non-null  object
 23  Cleanliness              94373 non-null  object
 24  Online_boarding          94373 non-null  object
dtypes: float64(3), int64(3), object(19)
memory usage: 18.7+ MB

In [13]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35602 entries, 0 to 35601
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       35602 non-null  int64
 1   Gender                   35572 non-null  object
 2   CustomerType             32219 non-null  object
 3   Age                      35591 non-null  float64
 4   TypeTravel               32154 non-null  object
 5   Travel_Class             35602 non-null  object
 6   Travel_Distance          35602 non-null  int64
 7   DepartureDelay_in_Mins   35573 non-null  float64
 8   ArrivalDelay_in_Mins     35479 non-null  float64
 9   Seat_comfort             35580 non-null  object
 10  Seat_Class               35602 non-null  object
 11  Arrival_time_convenient  32277 non-null  object
 12  Catering                 32245 non-null  object
 13  Platform_location        35590 non-null  object
 14  Onboardwifi_service      35590 non-null  object
 15  Onboard_entertainment    35594 non-null  object
 16  Online_support           35576 non-null  object
 17  Onlinebooking_Ease       35584 non-null  object
 18  Onboard_service          32730 non-null  object
 19  Leg_room                 35577 non-null  object
 20  Baggage_handling         35562 non-null  object
 21  Checkin_service          35580 non-null  object
 22  Cleanliness              35600 non-null  object
 23  Online_boarding          35600 non-null  object
dtypes: float64(3), int64(2), object(19)
memory usage: 6.8+ MB

## Checking description of training and testing data

In [14]:
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,94379.0,9.884719e+07,27245.014865,98800001.0,98823595.5,98847190.0,98870784.5,98894379.0
Age,94346.0,3.941965e+01,15.116632,7.0,27.0,40.0,51.0,85.0
Travel_Distance,94379.0,1.978888e+03,1027.961019,50.0,1359.0,1923.0,2538.0,6951.0
DepartureDelay_in_Mins,94322.0,1.464709e+01,38.138781,0.0,0.0,0.0,12.0,1592.0
ArrivalDelay_in_Mins,94022.0,1.500522e+01,38.439409,0.0,0.0,0.0,13.0,1584.0
Overall_Experience,94379.0,5.466576e-01,0.497821,0.0,0.0,1.0,1.0,1.0

In [15]:
df_test.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,35602.0,9.991780e+07,10277.556478,99900001.0,99908901.25,99917801.5,99926701.75,99935602.0
Age,35591.0,3.944700e+01,15.137554,7.0,27.00,40.0,51.00,85.0
Travel_Distance,35602.0,1.987152e+03,1024.308863,50.0,1360.00,1929.0,2559.00,6868.0
DepartureDelay_in_Mins,35573.0,1.488070e+01,37.895453,0.0,0.00,0.0,13.00,978.0
ArrivalDelay_in_Mins,35479.0,1.530880e+01,38.531293,0.0,0.00,0.0,13.00,970.0

## Checking null values for training and testing data

In [16]:
df_train.isnull().sum()

ID                            0
Gender                       77
CustomerType               8951
Age                          33
TypeTravel                 9226
Travel_Class                  0
Travel_Distance               0
DepartureDelay_in_Mins       57
ArrivalDelay_in_Mins        357
Overall_Experience            0
Seat_comfort                 61
Seat_Class                    0
Arrival_time_convenient    8930
Catering                   8741
Platform_location            30
Onboardwifi_service          30
Onboard_entertainment        18
Online_support               91
Onlinebooking_Ease           73
Onboard_service            7601
Leg_room                     90
Baggage_handling            142
Checkin_service              77
Cleanliness                   6
Online_boarding               6
dtype: int64

In [17]:
df_test.isnull().sum()

ID                            0
Gender                       30
CustomerType               3383
Age                          11
TypeTravel                 3448
Travel_Class                  0
Travel_Distance               0
DepartureDelay_in_Mins       29
ArrivalDelay_in_Mins        123
Seat_comfort                 22
Seat_Class                    0
Arrival_time_convenient    3325
Catering                   3357
Platform_location            12
Onboardwifi_service          12
Onboard_entertainment         8
Online_support               26
Onlinebooking_Ease           18
Onboard_service            2872
Leg_room                     25
Baggage_handling             40
Checkin_service              22
Cleanliness                   2
Online_boarding               2
dtype: int64

## Imputing null values for training and testing data

In [18]:
df_train.loc[df_train['Age'].isnull() == True,'Age'] = df_train['Age'].median()
df_train.loc[df_train['DepartureDelay_in_Mins'].isnull() == True,'DepartureDelay_in_Mins'] = df_train['DepartureDelay_in_Mins'].median()
df_train.loc[df_train['ArrivalDelay_in_Mins'].isnull() == True,'ArrivalDelay_in_Mins'] = df_train['ArrivalDelay_in_Mins'].median()
df_test.loc[df_test['Age'].isnull() == True,'Age'] = df_test['Age'].median()
df_test.loc[df_test['DepartureDelay_in_Mins'].isnull() == True,'DepartureDelay_in_Mins'] = df_test['DepartureDelay_in_Mins'].median()
df_test.loc[df_test['ArrivalDelay_in_Mins'].isnull() == True,'ArrivalDelay_in_Mins'] = df_test['ArrivalDelay_in_Mins'].median()

df_train.loc[df_train['Gender'].isnull() == True,'Gender'] = df_train['Gender'].mode()[0]
df_train.loc[df_train['CustomerType'].isnull() == True,'CustomerType'] = df_train['CustomerType'].mode()[0]
df_train.loc[df_train['TypeTravel'].isnull() == True,'TypeTravel'] = df_train['TypeTravel'].mode()[0]
df_train.loc[df_train['Seat_comfort'].isnull() == True,'Seat_comfort'] = df_train['Seat_comfort'].mode()[0]
df_train.loc[df_train['Arrival_time_convenient'].isnull() == True,'Arrival_time_convenient'] = df_train['Arrival_time_convenient'].mode()[0]
df_train.loc[df_train['Catering'].isnull() == True,'Catering'] = df_train['Catering'].mode()[0]
df_train.loc[df_train['Platform_location'].isnull() == True,'Platform_location'] = df_train['Platform_location'].mode()[0]
df_train.loc[df_train['Onboardwifi_service'].isnull() == True,'Onboardwifi_service'] = df_train['Onboardwifi_service'].mode()[0]
df_train.loc[df_train['Onboard_entertainment'].isnull() == True,'Onboard_entertainment'] = df_train['Onboard_entertainment'].mode()[0]
df_train.loc[df_train['Online_support'].isnull() == True,'Online_support'] = df_train['Online_support'].mode()[0]
df_train.loc[df_train['Onlinebooking_Ease'].isnull() == True,'Onlinebooking_Ease'] = df_train['Onlinebooking_Ease'].mode()[0]
df_train.loc[df_train['Onboard_service'].isnull() == True,'Onboard_service'] = df_train['Onboard_service'].mode()[0]
df_train.loc[df_train['Leg_room'].isnull() == True,'Leg_room'] = df_train['Leg_room'].mode()[0]
df_train.loc[df_train['Baggage_handling'].isnull() == True,'Baggage_handling'] = df_train['Baggage_handling'].mode()[0]
df_train.loc[df_train['Checkin_service'].isnull() == True,'Checkin_service'] = df_train['Checkin_service'].mode()[0]
df_train.loc[df_train['Cleanliness'].isnull() == True,'Cleanliness'] = df_train['Cleanliness'].mode()[0]
df_train.loc[df_train['Online_boarding'].isnull() == True,'Online_boarding'] = df_train['Online_boarding'].mode()[0]

df_test.loc[df_test['Gender'].isnull() == True,'Gender'] = df_test['Gender'].mode()[0]
df_test.loc[df_test['CustomerType'].isnull() == True,'CustomerType'] = df_test['CustomerType'].mode()[0]
df_test.loc[df_test['TypeTravel'].isnull() == True,'TypeTravel'] = df_test['TypeTravel'].mode()[0]
df_test.loc[df_test['Seat_comfort'].isnull() == True,'Seat_comfort'] = df_test['Seat_comfort'].mode()[0]
df_test.loc[df_test['Arrival_time_convenient'].isnull() == True,'Arrival_time_convenient'] = df_test['Arrival_time_convenient'].mode()[0]
df_test.loc[df_test['Catering'].isnull() == True,'Catering'] = df_test['Catering'].mode()[0]
df_test.loc[df_test['Platform_location'].isnull() == True,'Platform_location'] = df_test['Platform_location'].mode()[0]
df_test.loc[df_test['Onboardwifi_service'].isnull() == True,'Onboardwifi_service'] = df_test['Onboardwifi_service'].mode()[0]
df_test.loc[df_test['Onboard_entertainment'].isnull() == True,'Onboard_entertainment'] = df_test['Onboard_entertainment'].mode()[0]
df_test.loc[df_test['Online_support'].isnull() == True,'Online_support'] = df_test['Online_support'].mode()[0]
df_test.loc[df_test['Onlinebooking_Ease'].isnull() == True,'Onlinebooking_Ease'] = df_test['Onlinebooking_Ease'].mode()[0]
df_test.loc[df_test['Onboard_service'].isnull() == True,'Onboard_service'] = df_test['Onboard_service'].mode()[0]
df_test.loc[df_test['Leg_room'].isnull() == True,'Leg_room'] = df_test['Leg_room'].mode()[0]
df_test.loc[df_test['Baggage_handling'].isnull() == True,'Baggage_handling'] = df_test['Baggage_handling'].mode()[0]
df_test.loc[df_test['Checkin_service'].isnull() == True,'Checkin_service'] = df_test['Checkin_service'].mode()[0]
df_test.loc[df_test['Cleanliness'].isnull() == True,'Cleanliness'] = df_test['Cleanliness'].mode()[0][0]
df_test.loc[df_test['Online_boarding'].isnull() == True,'Online_boarding'] = df_test['Online_boarding'].mode()[0]

In [19]:
df_train.isnull().sum()

ID                         0
Gender                     0
CustomerType               0
Age                        0
TypeTravel                 0
Travel_Class               0
Travel_Distance            0
DepartureDelay_in_Mins     0
ArrivalDelay_in_Mins       0
Overall_Experience         0
Seat_comfort               0
Seat_Class                 0
Arrival_time_convenient    0
Catering                   0
Platform_location          0
Onboardwifi_service        0
Onboard_entertainment      0
Online_support             0
Onlinebooking_Ease         0
Onboard_service            0
Leg_room                   0
Baggage_handling           0
Checkin_service            0
Cleanliness                0
Online_boarding            0
dtype: int64

In [20]:
df_test.isnull().sum()

ID                         0
Gender                     0
CustomerType               0
Age                        0
TypeTravel                 0
Travel_Class               0
Travel_Distance            0
DepartureDelay_in_Mins     0
ArrivalDelay_in_Mins       0
Seat_comfort               0
Seat_Class                 0
Arrival_time_convenient    0
Catering                   0
Platform_location          0
Onboardwifi_service        0
Onboard_entertainment      0
Online_support             0
Onlinebooking_Ease         0
Onboard_service            0
Leg_room                   0
Baggage_handling           0
Checkin_service            0
Cleanliness                0
Online_boarding            0
dtype: int64

## Converting variables into categorical datatype

In [21]:
df_train = df_train.astype({'Gender': 'category', 'CustomerType': 'category', 'TypeTravel': 'category', 'Travel_Class': 'category', 'Seat_comfort': 'category', 'Seat_Class': 'category', 'Arrival_time_convenient': 'category', 'Catering': 'category', 'Platform_location': 'category', 'Onboardwifi_service': 'category', 'Onboard_entertainment': 'category', 'Online_support': 'category', 'Onlinebooking_Ease': 'category', 'Onboard_service': 'category', 'Leg_room': 'category', 'Baggage_handling': 'category', 'Checkin_service': 'category', 'Cleanliness': 'category', 'Online_boarding': 'category'}) 
df_test = df_test.astype({'Gender': 'category', 'CustomerType': 'category', 'TypeTravel': 'category', 'Travel_Class': 'category', 'Seat_comfort': 'category', 'Seat_Class': 'category', 'Arrival_time_convenient': 'category', 'Catering': 'category', 'Platform_location': 'category', 'Onboardwifi_service': 'category', 'Onboard_entertainment': 'category', 'Online_support': 'category', 'Onlinebooking_Ease': 'category', 'Onboard_service': 'category', 'Leg_room': 'category', 'Baggage_handling': 'category', 'Checkin_service': 'category', 'Cleanliness': 'category', 'Online_boarding': 'category'})

In [22]:
for i in df_train.columns: 
    if df_train[i].dtype =='category': 
        print('\n')
        print('feature:',i)
        print(pd.Categorical(df_train[i].unique()))
        print(pd.Categorical(df_train[i].unique()).codes)
        df_train[i] =pd.Categorical(df_train[i]).codes
        
for i in df_test.columns: 
    if df_test[i].dtype =='category': 
        print('\n')
        print('feature:',i)
        print(pd.Categorical(df_test[i].unique()))
        print(pd.Categorical(df_test[i].unique()).codes)
        df_test[i] =pd.Categorical(df_test[i]).codes

feature: Gender
['Female', 'Male']
Categories (2, object): ['Female', 'Male']
[0 1]


feature: CustomerType
['Loyal Customer', 'disloyal Customer']
Categories (2, object): ['Loyal Customer', 'disloyal Customer']
[0 1]


feature: TypeTravel
['Business travel', 'Personal Travel']
Categories (2, object): ['Business travel', 'Personal Travel']
[0 1]


feature: Travel_Class
['Business', 'Eco']
Categories (2, object): ['Business', 'Eco']
[0 1]


feature: Seat_comfort
['need improvement', 'poor', 'acceptable', 'good', 'excellent', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[4 5 0 3 1 2]


feature: Seat_Class
['Green Car', 'Ordinary']
Categories (2, object): ['Green Car', 'Ordinary']
[0 1]


feature: Arrival_time_convenient
['excellent', 'need improvement', 'acceptable', 'good', 'poor', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[1 4 0 3 5 2]


feature: Catering
['excellent', 'poor', 'need improvement', 'acceptable', 'good', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[1 5 4 0 3 2]


feature: Platform_location
['very convinient', 'need improvement', 'manageable', 'Inconvinient', 'Convinient', 'very inconvinient']
Categories (6, object): ['Convinient', 'Inconvinient', 'manageable', 'need improvement', 'very convinient', 'very inconvinient']
[4 3 2 1 0 5]


feature: Onboardwifi_service
['good', 'need improvement', 'acceptable', 'excellent', 'poor', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[3 4 0 1 5 2]


feature: Onboard_entertainment
['need improvement', 'poor', 'good', 'excellent', 'acceptable', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[4 5 3 1 0 2]


feature: Online_support
['acceptable', 'good', 'excellent', 'poor', 'need improvement', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[0 3 1 5 4 2]


feature: Onlinebooking_Ease
['need improvement', 'good', 'excellent', 'acceptable', 'poor', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[4 3 1 0 5 2]


feature: Onboard_service
['need improvement', 'excellent', 'acceptable', 'good', 'poor', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[4 1 0 3 5 2]


feature: Leg_room
['acceptable', 'need improvement', 'excellent', 'good', 'poor', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[0 4 1 3 5 2]


feature: Baggage_handling
['need improvement', 'poor', 'excellent', 'acceptable', 'good']
Categories (5, object): ['acceptable', 'excellent', 'good', 'need improvement', 'poor']
[3 4 1 0 2]


feature: Checkin_service
['good', 'need improvement', 'acceptable', 'excellent', 'poor', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[3 4 0 1 5 2]


feature: Cleanliness
['need improvement', 'good', 'excellent', 'acceptable', 'poor', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[4 3 1 0 5 2]


feature: Online_boarding
['poor', 'good', 'excellent', 'acceptable', 'need improvement', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[5 3 1 0 4 2]


feature: Gender
['Female', 'Male']
Categories (2, object): ['Female', 'Male']
[0 1]


feature: CustomerType
['Loyal Customer', 'disloyal Customer']
Categories (2, object): ['Loyal Customer', 'disloyal Customer']
[0 1]


feature: TypeTravel
['Business travel', 'Personal Travel']
Categories (2, object): ['Business travel', 'Personal Travel']
[0 1]


feature: Travel_Class
['Business', 'Eco']
Categories (2, object): ['Business', 'Eco']
[0 1]


feature: Seat_comfort
['acceptable', 'extremely poor', 'excellent', 'poor', 'need improvement', 'good']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[0 2 1 5 4 3]


feature: Seat_Class
['Green Car', 'Ordinary']
Categories (2, object): ['Green Car', 'Ordinary']
[0 1]


feature: Arrival_time_convenient
['acceptable', 'good', 'excellent', 'extremely poor', 'need improvement', 'poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[0 3 1 2 4 5]


feature: Catering
['acceptable', 'poor', 'excellent', 'need improvement', 'good', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[0 5 1 4 3 2]


feature: Platform_location
['manageable', 'very convinient', 'need improvement', 'Inconvinient', 'Convinient']
Categories (5, object): ['Convinient', 'Inconvinient', 'manageable', 'need improvement', 'very convinient']
[2 4 3 1 0]


feature: Onboardwifi_service
['need improvement', 'acceptable', 'excellent', 'poor', 'good', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[4 0 1 5 3 2]


feature: Onboard_entertainment
['excellent', 'poor', 'acceptable', 'good', 'need improvement', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[1 5 0 3 4 2]


feature: Online_support
['good', 'acceptable', 'excellent', 'need improvement', 'poor']
Categories (5, object): ['acceptable', 'excellent', 'good', 'need improvement', 'poor']
[2 0 1 3 4]


feature: Onlinebooking_Ease
['excellent', 'acceptable', 'need improvement', 'poor', 'good', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[1 0 4 5 3 2]


feature: Onboard_service
['excellent', 'need improvement', 'acceptable', 'good', 'poor']
Categories (5, object): ['acceptable', 'excellent', 'good', 'need improvement', 'poor']
[1 3 0 2 4]


feature: Leg_room
['excellent', 'acceptable', 'need improvement', 'good', 'poor', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[1 0 4 3 5 2]


feature: Baggage_handling
['excellent', 'good', 'need improvement', 'acceptable', 'poor']
Categories (5, object): ['acceptable', 'excellent', 'good', 'need improvement', 'poor']
[1 2 3 0 4]


feature: Checkin_service
['good', 'acceptable', 'excellent', 'need improvement', 'poor']
Categories (5, object): ['acceptable', 'excellent', 'good', 'need improvement', 'poor']
[2 0 1 3 4]


feature: Cleanliness
['excellent', 'need improvement', 'acceptable', 'good', 'poor', 'g']
Categories (6, object): ['acceptable', 'excellent', 'g', 'good', 'need improvement', 'poor']
[1 4 0 3 5 2]


feature: Online_boarding
['poor', 'acceptable', 'excellent', 'good', 'need improvement', 'extremely poor']
Categories (6, object): ['acceptable', 'excellent', 'extremely poor', 'good', 'need improvement', 'poor']
[5 0 1 3 4 2]

## Dropping unnecessary columns

In [23]:
df_train.drop('ID',axis = 1,inplace = True)
test_file_ids = df_test['ID'] ## necessary step
df_test.drop('ID',axis = 1,inplace = True)

## Splitting training dataset into train and validation set

In [24]:
X = df_train.drop(['Overall_Experience'],axis = 1)
y = df_train['Overall_Experience']

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_validation, y_train, y_validation = train_test_split(X,y,test_size = 0.2,random_state = 0)

## Model training - Random Forest

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=10,criterion='gini',max_depth=10,random_state=0)
rf_model.fit(X_train,y_train)

y_pred_train = rf_model.predict(X_train)
y_pred_val = rf_model.predict(X_validation)

In [27]:
from sklearn import metrics
dt_acc_train = metrics.accuracy_score(y_train,y_pred_train)
dt_acc_val = metrics.accuracy_score(y_validation,y_pred_val)
print("Train Accuracy:",dt_acc_train)
print("Validation Accuracy:",dt_acc_val)
print()

dt_roc_train = metrics.roc_auc_score(y_train,y_pred_train)
dt_roc_val = metrics.roc_auc_score(y_validation,y_pred_val)
print("Train ROC AUC score:",dt_roc_train)
print("Validation ROC AUC score:",dt_roc_val)
print()

dt_clr_train = metrics.classification_report(y_train,y_pred_train)
dt_clr_val = metrics.classification_report(y_validation,y_pred_val)
print("Train Classification Report:\n",dt_clr_train)
print("Validation Classification Report:\n",dt_clr_val)

Train Accuracy: 0.9325324821530271
Validation Accuracy: 0.9218054672600127

Train ROC AUC score: 0.9300474005207379
Validation ROC AUC score: 0.9192961030444141

Train Classification Report:
               precision    recall  f1-score   support

           0       0.94      0.90      0.92     34169
           1       0.92      0.96      0.94     41334

    accuracy                           0.93     75503
   macro avg       0.93      0.93      0.93     75503
weighted avg       0.93      0.93      0.93     75503

Validation Classification Report:
               precision    recall  f1-score   support

           0       0.94      0.89      0.91      8617
           1       0.91      0.95      0.93     10259

    accuracy                           0.92     18876
   macro avg       0.92      0.92      0.92     18876
weighted avg       0.92      0.92      0.92     18876

## Model Training - XG Boost

### Ensembling RF Model and XG Boost Model with best params

In [28]:
from xgboost import XGBClassifier
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

# Define the parameter grid
param_grid = {'learning_rate': [0.1, 0.2, 0.5], 'max_depth': [5, 8, 10], 'n_estimators': [200, 300, 500]}

# Create an instance of the XGBoost model
xgb = XGBClassifier()

# Use RandomizedSearchCV or GridSearchCV to fine-tune the hyperparameters
xgb_cv = RandomizedSearchCV(xgb, param_grid, cv=5)

# Fit the model to the training data
xgb_cv.fit(X_train, y_train)

# Make predictions on the validation set
y_pred = xgb_cv.predict(X_validation)

# Evaluate the model's performance
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score
print("Accuracy:", accuracy_score(y_validation, y_pred))
print("F1 Score:", f1_score(y_validation, y_pred, average='weighted'))
print("Precision:", precision_score(y_validation, y_pred, average='weighted'))
print("Recall:", recall_score(y_validation, y_pred, average='weighted'))

Accuracy: 0.9550752278025005
F1 Score: 0.9550907155799737
Precision: 0.9551390024096323
Recall: 0.9550752278025005

## Predicting on test data using ensembled model of RF and XG Boost and creating a submission file

In [33]:
final_predictions = xgb_cv.predict(df_test)
submission=pd.DataFrame([test_file_ids,final_predictions]).T
submission.rename(columns={"ID": "ID", "Unnamed 0": "Overall_Experience"},inplace=True)
submission.to_csv(r'F:\Personal\PGP\Hackathon\submission.csv',index = False)